* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #005a61;
}

::-webkit-scrollbar-thumb {
  background-color: #009270;
  border-radius: 10px;
}
